.invoice-heading-right {
  float:right;
}

.invoice .progress {
  height: 7px;
  border-radius: 0px;
}

.invoice-amount {
  float:left;
  margin-bottom:15px;
}

.invoice-status {
  float:right;
}



@media (max-width: 979px) {
  .invoice {
    width:100%;
  }
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
