@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes background {
  0% {
    background-color: #27ae60;
  }
  50% {
    background-color: #9b59b6;
  }
  100% {
    background-color: #c0392b;
  }
}

.invoice-heading-right {
  float:right;
}

.invoice .progress {
  height: 7px;
  border-radius: 0px;
}

.invoice-amount {
  float:left;
  margin-bottom:15px;
  border-right:#ccc 1px solid;
}

.invoice-status {
  float:right;
}

.bnomics-altcoin-pane {
  margin-top: 4.3em;
}
/* adding qr code style from order.css */
.bnomics-qr {
  text-align: center !important;
  background-color:#f3f3f3;
  padding: 10px 10px 5px 10px;
  width:180px;
  margin: 0 auto;
  text-align: left;
}
.bnomics-qr-code {
  flex: 1;
}
.bnomics-qr-code-hint {
  text-align: center;
  margin-top: 1.6em;
  margin-bottom: 1em;
  font-size: 0.8em;
  padding: 0 20px;
}

.bnomics-spinner {
  margin: auto;
  width: 60px;
  height: 60px;
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

.altcoin-td {
  width: 35%;
  border-left: 2px ridge;
}

.altcoin-waiting {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.altcoin-waiting h4 {
  margin-top: 1em;
}

@media (max-width: 979px) {
  .invoice {
    width:100%;
  }
}

@media (max-width: 768px) {
  .bnomics-altcoin-pane {
    margin-top: 0;
  }
  .invoice-amount, .invoice-status {
    float: none;
    text-align: center;
    border: none;
  }
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
